.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(39, 39, 39);

    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    position: relative;
    overflow: hidden;
}

.uploadBox{
    margin-top: 30px;
}

.background{
    height: 120vh;
    opacity: 0.3;

    position: absolute;

}


.allUploads{
    z-index: 2;
    width: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px rgb(20, 99, 246);;
    background-color: white;

}

.h1{
    font-size: 30px;
    margin: 10px;
    color: rgb(33, 83, 248);
}

.buttonImg{
    height: 30px;
    width: 30px;
    object-fit: scale-down;
}


@media (max-width: 800px) {
    .allUploads{
        width: 90%;
    }
    
}