.container{

    width: 100%-padding;

    padding: 20px;


    display: flex;
    flex-direction: column;
    align-items: center;

}

.gridBox{

    width: 70%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;

}
.header{
    height: 80px;
    font-size: 30px;
    font-weight: bold;

}

@media (max-width: 1300px){
    .gridBox{
        width: 77%;
    }
}
@media (max-width: 1000px){
    .gridBox{
        width: 90%;
    }
}
@media (max-width: 880px){
    .gridBox{
        width: 99%;
    }
}

@media (max-width:550px){
    .gridBox{
        grid-template-columns: repeat(1, 1fr);
    }
}